html {
  background: linear-gradient(#e7ff0e, #16ff0e);
  height: 100%;
  width: 100%;
}



#input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 20%;
}

#result {
  font-size: 1.5em;
  margin-bottom: 8px;
}

#text-input, #check-btn {
  margin: 0 auto;
  width: 20em;
  border-radius: 20px;
  box-shadow: 10px 5px;
}

#check-btn {
  margin-top: 15px;
  width: 10em;
}

#clear-label {
  text-align: center;
  margin-top: 15px;
  font-size: 1.1em;
}
